<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/introjs.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="container" id="root">
        <br />
        <br />
        <div
            v-intro-autostart="autostart"
            v-intro-autostart.config="autostartConfig"
            >
            <div v-intro="'Step 1'">1. Step.</div>
            <div v-intro="'Step 2'">2. Step.</div>

        </div>
        <br />
    </div>
    <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.7.0/intro.min.js"></script>
    <script type="text/javascript" src="../dist/index.min.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#root',
            data() {
                return {
                    autostart: true,
                    autostartConfig: {
                        nextLabel: '[next -->]'
                    }
                };
            }
        });
    </script>
  </body>
</html>
